<!doctype html>
<html>
<head>
    <title>ShowMe</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>


</head>
</head>
</head>
<body>
<h1>ShowMeWhatUGot</h1>
<br>

<form name='Year'>
  Year:
    <select name="year" id='year'>
      <option value="All">All Years</option>
      <option value="2017">2017</option>
    </select>
</form>
<form name='Season'>
  Season:
    <select name="season" id='season'>
      <option value="All">All Seasons</option>
      <option value="Fall">Fall</option>
      <option value="Spring">Spring</option>
    </select>
</form>
<form name='Designer'>
  Designer:
    <select name="designer" id='designer'>
      <option value="All">All Designers</option>
    {% for brand in brands|sort(attribute='brand_name') %}
      <option value="{{ brand.brand_id }}">{{ brand.brand_name }}</option>
      {% endfor %}
    </select>
</form>

<script src="http://code.jquery.com/jquery.js"></script>

<script type="text/javascript">
    $( document ).load( "bleep.html", function() {
        getAllData();
    });

    $('#designer').on('change', function() {
        getData($('#designer'))
    });

    $('#season').on('change', function() {
        getData($('#season'))
    });

    $('#year').on('change', function() {
        getData($('#year'))
    });


    function getData(param) {
        var params = {"brand_id": $('#designer :selected').val(),
                      "season": $('#season :selected').val(),
                       "year": $('#year :selected').val()
                     }
        // console.log(params)
        $.get('/pie', params, function(data) {
            makeDoughnutChart(data)
        });
    }
    function getAllData() {
        var params = {"brand_id": $('#designer :selected').val(),
                      "season": $('#season :selected').val(),
                       "year": $('#year :selected').val()
                     }
        $.get('/pie', params, function(data) {
            makeDoughnutChart(data)
        });
    }
</script>

<canvas id="chart"></canvas>

<script>
    var options = {};
    var ctx = document.getElementById("chart").getContext('2d');

var myDoughnutChart;

    function makeDoughnutChart(results) {
        if (myDoughnutChart) {
            myDoughnutChart.destroy();
        }
        myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: results,
            options: {'legend': {'display': false}}
        });
    }
    </script>


</body>
</html>