<!doctype html>
<html>
<head>
    <title>ShowMe</title>
</head>
</head>
<body>
<h1>ShowMeWhatUGot</h1>
<br>

<ul> 
{% for show_color in show_colors %}
    <br>
        <li>
        {{ show_color.shows.brands.brand_name }} {{show_color.shows.season}}
        {{ show_color.show_id}}
        </li>
            <div id="color" style="background-color: {{ show_color.colors.color_hex }}; width: 100%; position: relative;">
                {{ show_color.colors.color_hex }}
            </div>        
            
{% endfor %}
</ul>

</body>
</html>