<!doctype html>
<html>
<head>
    <title>ShowMePalettes</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

</head>
<body>
<h1>ShowMeURPalettes</h1>

<script src="http://code.jquery.com/jquery.js"></script>

<canvas id="chart"></canvas>

<script type="text/javascript">
  console.log("hellooooo im here in JS trying to load!")
    $( document ).ready(function() {
      console.log("IM READY!")
        getAllData();
    });

    function getAllData() {
      console.log("oh what! im in getAllData ")
        $.get('/palette_chart', function(data) {
            makeDoughnutChart(data)
            console.log(data)
        });
    }

    var options = {};
    var ctx = document.getElementById("chart").getContext('2d');

    var myDoughnutChart;

    function makeDoughnutChart(results) {
        if (myDoughnutChart) {
            myDoughnutChart.destroy();
        }
        myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: results,
            options: {'legend': {'display': false}}
        });
    }
</script>


</body>
</html>