<!doctype html>
<html>
<head>
    <title>ShowMePalettes</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

</head>

<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #ff1493;
        background-color: #fcfaf7;
        }
    .navbar-default {
        background-color: #faf7f3;
        border-color: #ff141d;
        }
    .navbar-default .navbar-nav>li>a {
        color: #ff141d;
        }
    .bootstrap-overridesh1 {
        color: #ff141d;
        font-size: 40px;
    }
       .brandlink {
        padding: 10px;
        color: #ff141d;
    }
</style>


<body>
<script src="http://code.jquery.com/jquery.js"></script>



<nav class="navbar navbar-default">
    <div class="container-fluid bg-1 text-center">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/about"><img alt="ShowMe" src="/static/logo.png" height="20"</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/bubbles">Color Over Time<span class="sr-only"></span></a></li>
        <li><a href="/palettes">Color Explorer</a></li>
        <li><a href="/">Color By Brand</a></li>
    </ul>
    </div>
    </div>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h1 class="bootstrap-overridesh1"> Show.Me</h1>
            <h3 class="bootstrap-overridesh3"> Color Explorer</h3>
            <h5 class="bootstrap-overridesh5">Working with a broad palette of colors, search through the slices to find shows featuring matching hues in their top colors. <br><br>Click any matching brand to access their overall top colors. </h5>
        </div>

    <div class="col-sm-10">
        <canvas id="chart"></canvas>
        <br><br>
        <div class="row" id=brand_list></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
      console.log("IM READY!")
        getAllData();
    });

    function getAllData() {
        $.get('/palette_chart', function(data) {
            makeDoughnutChart(data)
            console.log(data)
        });
    }

    var options = {};
    var ctx = document.getElementById("chart").getContext('2d');

    var myDoughnutChart;

    function makeDoughnutChart(results) {
        if (myDoughnutChart) {
            myDoughnutChart.destroy();
        }
        myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: results,
            options: {rotation: 1 * Math.PI,
                      circumference: 1 * Math.PI,
                      cutoutPercentage: 25,
                      'legend': {'display': false},
                      'tooltips': {'enabled': true},
                    }
                });
            }

    function populateBrandsList(data) {
        $("#brand_list").empty()

        _.each(data.brands, function(brand) {
            $("#brand_list").append('<a class="brandlink" href="/?brand_name=' + brand + '">[' + brand + ']</a>');
        });
    };

    chart.onclick = function(evt){
        var activePoints = myDoughnutChart.getElementsAtEvent(evt);
        var params = {'color_hex': activePoints[0]._model.label}
        console.log(params)
        $.get('/color_by_brand', params, function(data) {
            populateBrandsList(data)
        });
    };


</script>
</div>
</body>
</html>